
{% assign block_settings = block.settings %}
<div
  class="
    footer-utilities__group-copyright
    custom-typography
    {% if block_settings.font_size != "" %}custom-font-size{% endif %}
  "
  style="{% render 'typography-style', preset: 'custom', settings: block_settings %}"
  {{ block.shopify_attributes }}
>
  <span class="footer-utilities__text">
    &copy; {{ 'now' | date: '%Y' }}
    {{ shop.name | link_to: routes.root_url -}}
    {%- if block_settings.show_powered_by -%}
      , {{ powered_by_link }}
    {%- endif -%}
  </span>
</div>

{% schema %}
{
  "name": "Copyright",
  "tag": null,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_powered_by",
      "label": "Show \"Powered by Shopify\"",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "[Manage store name](/admin/settings/general?edit=storeName)"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "Case",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default": "none"
    }
  ]
}
{% endschema %}
