
{%- doc -%}
  @param {string} [suffix] - The suffix to add to the collection title
{%- enddoc -%}

{%- assign block_settings = block.settings -%}
{% if closest.collection == blank %}
  {% assign collection_title = 'placeholders.collection_title' | t %}
{% elsif closest.collection != blank %}
  {% assign collection_title = closest.collection.title %}
{% endif %}

{% assign plain_text = collection_title | strip_newlines | strip_html | strip %}

{% # We need to make sure the wrapper is rendered even if the text element is empty in the theme editor to allow live text editing %}
{%- if plain_text != '' or request.design_mode -%}
  <span
    class="
      text-block
      custom-typography
      {% if block_settings.weight != blank %}custom-font-weight{% endif %}
      {% if block_settings.font_size != blank %}custom-font-size{% endif %}
    "
    style="{% render 'typography-style', preset: 'custom', settings: block_settings, type: 'heading' %}"
    {{ block.shopify_attributes }}
  >
    <span>{{ collection_title }}</span>{{ suffix }}
  </span>
{%- endif -%}

{% schema %}
{
  "name": "Collection title",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "Displays title from parent collection"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "font",
      "label": "Font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "Body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "Subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "Heading"
        },
        {
          "value": "var(--font-accent--family)",
          "label": "Accent"
        }
      ],
      "default": "var(--font-body--family)"
    },
    {
      "type": "select",
      "id": "weight",
      "label": "Weight",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "100",
          "label": "Thin"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semibold"
        },
        {
          "value": "700",
          "label": "Bold"
        },
        {
          "value": "900",
          "label": "Black"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "line_height",
      "label": "Line height",
      "options": [
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "loose",
          "label": "Loose"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "Letter spacing",
      "options": [
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "loose",
          "label": "Loose"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "case",
      "label": "Case",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        }
      ],
      "default": "none"
    }
  ]
}
{% endschema %}
