

{%- if shop.features.follow_on_shop? -%}
  <div
    class="spacing-style"
    style="{% render 'spacing-padding', settings: block.settings %}"
    {{ block.shopify_attributes }}
  >
    {{ shop | login_button: action: 'follow' }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Follow on Shop",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "For the button to show, the Shop channel must be installed and Shop Pay activated. [Learn more](https://help.shopify.com/en/manual/online-store/themes/customizing-themes/add-shop-buttons)"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "Left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "Right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Follow on Shop",
      "category": "Footer"
    }
  ]
}
{% endschema %}
