

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div class="section section--page-width color-{{ section.settings.color_scheme }}">
  <div
    class="spacing-style search-page__header"
    style="
      --horizontal-alignment: {{ section.settings.alignment }};
      {% render 'spacing-style', settings: section.settings %}
    "
  >
    {% assign heading_text = 'content.search' | t %}

    {% if search.performed %}
      {% assign heading_text = 'content.search_results' | t %}
    {% endif %}

    {% capture heading_text %}
      <h3>{{ heading_text }}</h3>
    {% endcapture %}

    {% content_for 'block', id: 'heading', type: '_heading', text: heading_text %}
    {% content_for 'block', id: 'search', type: '_search-input' %}
  </div>
</div>

{% schema %}
{
  "name": "Search",
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "flex-start"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
