/* Freight and */
@import url("https://use.typekit.net/sug0fip.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.shopify-section:not(.container-background-image) h1, .shopify-section:not(.container-background-image) h2, .shopify-section:not(.container-background-image) h3, .shopify-section:not(.container-background-image) h4 {
  color: var(--font-h1--color);
}

h1, h2, h3, h4 {
  font-family: "freight-display-pro";
}

h5,
.h5.h5,
.text-block.h5 > * {
  font-family: "soleil" !important;
}

body, p, a, a p, span, .button {
  font-family: "freight-sans-pro";
}
