/* Freight and */
@import url("https://use.typekit.net/sug0fip.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.shopify-section:not(.container-background-image) h1, .shopify-section:not(.container-background-image) h2, .shopify-section:not(.container-background-image) h3, .shopify-section:not(.container-background-image) h4 {
  color: var(--font-h1--color);
}

h1, h2, h3, h4 {
  font-family: "freight-display-pro";
}

h5,
.h5.h5,
.text-block.h5 > * {
  font-family: "soleil";
}

body, p, a, a p, span, .button, .paragraph:not(.button), .paragraph>* {
  font-family: "freight-sans-pro";
}

nav a span {
  font-family: "soleil";
}

/* First column fit-content only for MegaMenuList-1 (override grid track) */
[data-menu-grid-id="MegaMenuList-1"].mega-menu__grid {
  grid-template-columns:
    minmax(max-content, .45fr)
    repeat(calc(var(--menu-columns-desktop) - 1), minmax(0, 1fr));
}

@media screen and (max-width: 989px) {
  [data-menu-grid-id="MegaMenuList-1"].mega-menu__grid {
    grid-template-columns:
      minmax(max-content, .45fr)
      repeat(calc(var(--menu-columns-tablet) - 1), minmax(0, 1fr));
  }
}

nav .menu-list__list-item .mega-menu__column:nth-last-child(-n+2) ul a span.mega-menu__link-title {
  font-family: "freightneocnd-pro";
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
}

nav .menu-list__list-item .mega-menu__column:nth-last-child(-n+2) a span.mega-menu__link-title {
  font-family: "soleil";
}


nav .menu-list__list-item:first-of-type .mega-menu__column:first-child ul li:nth-last-child(-n+2) { 
  margin-top: 36px;
}

nav .menu-list__list-item:first-of-type .mega-menu__column:first-child ul li:last-child {
  margin-top: 0;
}